.algo-parent-cont{
    height: 100vh   ;
    width: 100%;
    padding: 2rem;
}
.select-option-cont{
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 1rem ;
}
.algo-target-head{
    text-align: center;
}
.country_inp{
    margin-left: 1rem;
}
.algo-gh-btn{
    margin-left: 1rem;
}